.blog-logo {
    max-width: 8em;
    margin: 3em;
    margin-top: 6em;
}

@media screen and (max-width: 980px) {
    .blog-logo {
        margin: 0 auto;
        position: relative;
        display: block;
        padding-bottom: 20px;
        padding-top: 10px;
    }
    #blog-header.has-cover {
        padding-top: 0px;
    }
    .post-title {
        text-align: center;
    }
}
